.brand{
	font-size: 3em;
} 
.footer{
	padding-top: 4em;
}
.navbar-inverse{
	
	background-color: #182C33;
}
.flame-color{
  background-color: #F5D245;
}
.navbar-nav{
  margin-top: 1em;
}
.navbar-inverse .navbar-nav > .active > a{
  background-color: #182C33;   
  border-bottom: dotted 1px #fff;
}
body{
  padding-top: 75px;
}
.coverArt{
  border: 1px solid black;
}
.jumbotron .panel-body{
  line-height: 1.4;  
  font-size: 0.75em;
}
.jumbotron .panel-heading p{
  line-height: 1.4;  
  font-size: 0.75em;
}
